@model Vl.LeaveTracker.Models.LeaveTrackerDetails
@{
    ViewBag.Title = "Home Page";
    var employeeName = " ";
    var employeeID = 0;
}
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/IndexStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/WebScript.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker.js"></script>
</head>
<div style="text-align: center; width: 1330px;">
    Select Date: 
    <input type="date" id="inputDate" />
</div>
<div class="jumbotron" style="height: 480px; background-color: #d3dce0; width: 1330px; margin: 0px auto; color: black;">
    <div id="months1">
        <div id="monthsmenu1">
            @for (int a = 0; a < 1; a++)
            {
                for (int b = 0; b < 1; b++)
                {                                           
                <div id="alignment" class="cellrow">
                </div> 
                }
            }
        </div>
        <div id="monthsmenu2">
            @for (int a = 0; a < 1; a++)
            {
                for (int b = 0; b < 1; b++)
                {                                           
                <div id="alignment" class="cellrow">
                </div> 
                }
            }
        </div>
        <div id="Months">
        </div>
    </div>
    <div id="days1">
        <div id="daysmenu1">
            @for (int a = 0; a < 1; a++)
            {
                for (int b = 0; b < 1; b++)
                {                                           
                <div id="daysMenu1" class="cellrow">
                </div> 
                }
            }
        </div>
        <div id="daysmenu2">
            @for (int a = 0; a < 1; a++)
            {
                for (int b = 0; b < 1; b++)
                {                                           
                <div id="daysMenu2" class="cellrow">
                </div> 
                }
            }
        </div>
        <div id="Days">
        </div>
    </div>
    <div id="dates1">
        <div id="datesmenu1">
            <div id="menu1_1">
                Employee Name
            </div>
        </div>
        <div id="datesmenu3">
            <div class="cellrow1" style="padding-top: 0px;">
                Total Leaves
            </div>
        </div>
        <div class="DatesDiv" id="Dates">
        </div>
    </div>
    <div id="menu1">
        @for (int employeeNum = 0; employeeNum < 10; employeeNum++)
        {
            employeeName = employeeNum < Model.EmpDetails.Count ? Model.EmpDetails[employeeNum].Empname : string.Empty;
            employeeID = employeeNum < Model.EmpDetails.Count ? Model.EmpDetails[employeeNum].EmpId : '0';
            var mngrid = employeeNum < Model.EmpDetails.Count ? Model.EmpDetails[employeeNum].ManagerId : '0';
            var managerName = "";
            var managerid = 0;
            foreach (var item in Model.MangDetails)
            {
                if (item.Id == mngrid)
                {
                    managerid = item.Id;
                    managerName = item.Name;
                }
            }
            <div id="@employeeNum" class="employeeName cellrow" title="@employeeID @managerid">@employeeName
                @if (String.IsNullOrEmpty(managerName))
                { managerName = "Manager"; }
                <span style="font-size: xx-small">[ @managerName ]</span>
            </div>
        }
    </div>
    <div id="menu3">
        @for (int f = 0; f < 10; f++)
        {                                       
            <div id="@f" class="leavecount cellrow1"></div>   
        }
    </div>
    <table>
        @for (int row = 0; row < 10; row++)
        {
            <tr>
                @for (int column = 0; column < 31; column++)
                {
                    <td id="@row@column" class="cell popupCell"></td>
                }
            </tr>
        }
    </table>
    <div id="menu4">
        <div class="cellcol">Total</div>

        @for (int g = 0; g < 31; g++)
        {
            <div id="@g"  class="cell dailyLeaves"></div>
               
        }
    </div>
</div>
@{
    var leaveFromDate = 0;
    var leaveToDate = 0;
    var leaveTypeId = 0;
    var leaveEmpId = 0;
    var employeName = "";
    var leaveFromDateMonth = 0;
    var leaveTypeName = "";
    var leaveid = 0;
    var m = "";
    var month = new string[13];
    month[0] = "";
    month[1] = "Jan";
    month[2] = "Feb";
    month[3] = "Mar";
    month[4] = "Apr";
    month[5] = "May";
    month[6] = "Jun";
    month[7] = "Jul";
    month[8] = "Aug";
    month[9] = "Sep";
    month[10] = "Oct";
    month[11] = "Nov";
    month[12] = "Dec";
    foreach (var item in Model.LeaveDetails)
    {
        var employeeLeaveDetails = item.Value;
        foreach (var days in employeeLeaveDetails)
        {
            leaveFromDate = days.LeaveFrom.Value.Day;
            leaveFromDateMonth = days.LeaveFrom.Value.Month;
            m = month[leaveFromDateMonth].ToUpper();
            leaveToDate = days.LeaveTo.Value.Day;
            leaveTypeId = days.LeaveTypeId;
            leaveEmpId = days.EmpId;
            leaveid = days.LeaveId;
            foreach (var leaveItem in Model.LeaveTypes)
            {
                if (leaveItem.Id == leaveTypeId)
                {
                    leaveTypeName = leaveItem.Ltype;
                }
            }
            foreach (var empDetls in Model.EmpDetails)
            {
                if (empDetls.EmpId == leaveEmpId)
                {
                    employeName = empDetls.Empname;
                }
            }
    <script type="text/javascript">
        $(document).ready(function () {
            var lid = "";
            var fromDateId;
            var endDateId;

            for (var i = 0; i < 30; i++) {
                if ($('#' + i + '.date').text() == '@leaveFromDate' && $('#' + i + '.months').text() == '@m') {
                    fromDateId = $('.date').attr("id").charAt(1) + i;
                }
                if ($('#' + i + '.date').text() == '@leaveToDate' && $('#' + i + '.months').text() == '@m') {
                    endDateId = $('.date').attr("id").charAt(1) + i;
                }
            }
            for (var i = fromDateId; i <= endDateId; i++) {
                switch ('@employeName') {
                    case "Niranjan": lid = '0' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Swethna": lid = '1' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Siddharth": lid = '2' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Mounica": lid = '3' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Durgesh": lid = '4' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Srinivas": lid = '5' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Himanshu": lid = '6' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Venkatadri": lid = '7' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Nagendra": lid = '8' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Sharath": lid = '9' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    default: alert("Employee Not Found");
                        break;
                    }
                }
            for (var l = 15; l < 915; l = l + 100) {
                if (l == 15) {
                    var id = $('.popupCell').attr("id").charAt(2) + 0 + l;
                } else {
                    var id = $('.popupCell').attr("id").charAt(2) + l;
                }
                $('#' + id + '.popupCell').css('background-color', '#69bff9');
            }
        });
            $(document).change(function () {
                var lid = "";
                var fromDateId;
                var endDateId;
                for (var i = 0; i < 30; i++) {
                    if ($('#' + i + '.date').text() == '@leaveFromDate' && $('#' + i + '.months').text() == '@m') {
                        fromDateId = $('.date').attr("id").charAt(1) + i;
                    }
                    if ($('#' + i + '.date').text() == '@leaveToDate' && $('#' + i + '.months').text() == '@m') {
                        endDateId = $('.date').attr("id").charAt(1) + i;
                    }
                }
                for (var i = fromDateId; i <= endDateId; i++) {
                    switch ('@employeName') {
                        case "Niranjan": lid = '0' + i;
                            DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                            break;
                        case "Swethna": lid = '1' + i;
                            DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Siddharth": lid = '2' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Mounica": lid = '3' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Durgesh": lid = '4' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Srinivas": lid = '5' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Himanshu": lid = '6' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Venkatadri": lid = '7' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Nagendra": lid = '8' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    case "Sharath": lid = '9' + i;
                        DisplayLeaves(lid, "@leaveTypeName", '@leaveid');
                        break;
                    default: alert("Employee Not Found");
                        break;
                    }
                }
                for (var l = 15; l < 915; l = l + 100) {
                    if (l == 15) {
                        var id = $('.popupCell').attr("id").charAt(2) + 0 + l;
                    } else {
                        var id = $('.popupCell').attr("id").charAt(2) + l;
                    }
                    $('#' + id + '.popupCell').css('background-color', '#69bff9');
                }
            });

    </script>
        }
    }
}

